WCF/Service References/PersonaServiceReference/PersonaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:22417/PersonaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:22417/PersonaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:22417/PersonaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_WS.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonaService_GetPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersona" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_GetPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_GetAllPersonas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersonas" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_GetAllPersonas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersonasResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_CreatePersona_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePersona" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_CreatePersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_EditPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:EditPersona" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_EditPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_DeletePersona_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersona" />
  </wsdl:message>
  <wsdl:message name="IPersonaService_DeletePersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonaResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonaService">
    <wsdl:operation name="GetPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/GetPersona" message="tns:IPersonaService_GetPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/GetPersonaResponse" message="tns:IPersonaService_GetPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPersonas">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/GetAllPersonas" message="tns:IPersonaService_GetAllPersonas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/GetAllPersonasResponse" message="tns:IPersonaService_GetAllPersonas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/CreatePersona" message="tns:IPersonaService_CreatePersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/CreatePersonaResponse" message="tns:IPersonaService_CreatePersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/EditPersona" message="tns:IPersonaService_EditPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/EditPersonaResponse" message="tns:IPersonaService_EditPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonaService/DeletePersona" message="tns:IPersonaService_DeletePersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonaService/DeletePersonaResponse" message="tns:IPersonaService_DeletePersona_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonaService" type="tns:IPersonaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersona">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/GetPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPersonas">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/GetAllPersonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePersona">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/CreatePersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPersona">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/EditPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePersona">
      <soap:operation soapAction="http://tempuri.org/IPersonaService/DeletePersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonaService">
    <wsdl:port name="BasicHttpBinding_IPersonaService" binding="tns:BasicHttpBinding_IPersonaService">
      <soap:address location="http://localhost:22417/PersonaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>