WCF/Service References/PersonaServiceReference/PersonaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:22417/PersonaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_WS.Data" />
  <xs:element name="GetPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_WS.Data" minOccurs="0" name="GetPersonaResult" nillable="true" type="q1:Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersonas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersonasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_WS.Data" minOccurs="0" name="GetAllPersonasResult" nillable="true" type="q2:ArrayOfPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_WS.Data" minOccurs="0" name="p" nillable="true" type="q3:Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatePersonaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_WS.Data" minOccurs="0" name="p" nillable="true" type="q4:Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditPersonaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePersonaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>